#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

readonly wanted_packages=(
  # zlib1g-dev
  # httpie
  # libncursesw5-dev
  # xz-utils
  # libxml2-dev
  # libxmlsec1-dev
  apt-transport-https
  curl
  docker-ce
  docker-ce-cli
  containerd.io
  docker-buildx-plugin
  docker-compose-plugin
  google-chrome-stable
  net-tools
  vim
  wireguard
  # For python
  build-essential
  libbz2-dev
  libssl-dev
  libreadline-dev
  libsqlite3-dev
  liblzma-dev
  libffi-dev
  tk-dev
  # End For python
  dbeaver-ce
  postgresql-client-common # In order to use Restore/backup from dbeaver and a external pg client
  seahorse-nautilus        # Sehorse integration on Nautilus explorer
  virtualbox
  virtualbox-qt
)
missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! is_apt_package_installed "${package}"; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with APT: ${missing_packages[*]}"

  c apt update --yes
  c apt install --yes --no-install-recommends "${missing_packages[@]}"
fi
