[user]
  name = {{ .name }}
  email = {{ .email }}

[init]
  defaultBranch = main

[push]
  default = simple
  autoSetupRemote = true

[core]
  autocrlf = input

[alias]
  tree = log --graph --all --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  tree2 = log --graph --decorate --pretty=oneline --abbrev-commit
  prune-branches = !git branch -vv | grep ': gone]' | awk '{print $1}' | grep -v 'master' | xargs git branch -d
  podry = remote prune origin --dry-run
  po = remote prune origin

[pull]
  ff = only

[pager]
  branch = false

# Allow local customizations in the .gitconfig-local file
[include]
  path = ~/.gitconfig-local
